.container {
  font-family: "Roboto", sans-serif;
}
.landing-page-wrapper {
  width: 100%;
  height: auto;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
a {
  text-decoration: none;
}
.header-font {
  font-family: "Antonio", sans-serif;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* top nav ***********************************************/
/* top nav ***********************************************/
/* top nav ***********************************************/
.nav-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: 0.3s;
}
.top-nav .logo-name {
  display: none;
}
.nav-scroll {
  background-color: white;
}
.nav-scroll .logo-name {
  display: block;
}
.nav-scroll .nav-link a {
  color: #1e6078;
}
.top-nav {
  white-space: nowrap;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 70px;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-logo img {
  width: 40px;
  height: auto;
  border: 1px solid gray;
  border-radius: 50%;
  display: block;
}
.logo-name {
  padding-left: 10px;
  line-height: 1;
}
.logo-name p {
  font-family: "Antonio", sans-serif;
  font-size: 20px;
}
.logo-name-1 {
  color: #444444;
  letter-spacing: 2px;
  line-height: 17px;
}
.logo-name-2 {
  color: #1e6078;
  letter-spacing: 2.6px;
}
.nav-link a {
  cursor: pointer;
  text-decoration: underline;
  text-underline-position: under;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  margin-left: 50px;
  color: white;
}
.nav-link a:hover {
  text-decoration: none;
}
/* landing page ***********************************************/
/* landing page ***********************************************/
/* landing page ***********************************************/
.landing-page-wrapper .landing-page-img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.8;
}

/* history page ***********************************************/
/* history page ***********************************************/
/* history page ***********************************************/
.history-page-wrapper {
  position: relative;
}
.history-page-wrapper .history-page-img {
  width: 100%;
  height: auto;
  display: block;
}
.history-content-wrapper {
  position: absolute;
  top: 10%;
  left: 20%;
  margin-left: auto;
  margin-right: auto;
}
.header-wrapper {
  width: auto;
  display: flex;
}
.header-number {
  font-size: 130px;
  line-height: 1.1;
  color: rgba(85, 129, 150, 0.8);
}
.header-vertical {
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: 6px;
}
.header-text {
  color: #0d4a68;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 5px;
}
.header-dot {
  width: 15px;
  height: 15px;
  border-radius: 1px;
  background-color: rgba(85, 129, 150, 0.8);
}
.history-content-wrapper .content {
  letter-spacing: 0.5px;
  line-height: 1.5;
  width: 70%;
  padding-left: 75px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
/* carousel ***********************************************/
.carousel-wrapper {
  padding-top: 30px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  background-color: rgba(29, 95, 119, 0.5);
  width: 100%;
  align-items: center;
}
.carousel {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  grid-template-columns: repeat(4, minmax(min-content, 210px));
}
.carousel-pad {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(3, minmax(min-content, 210px));
  display: flex;
}
.carousel-dot-wrapper-pad {
  cursor: default;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: none;
}
.carousel .mySlides {
  grid-gap: 10px;
}
.mySlides {
  display: none;
}
.carousel-content {
  margin: 0px 5px;
  width: 100%;
  height: auto;
}
.carousel-content img {
  object-fit: cover;
  max-height: 100%;
  width: 100%;
}
.carousel-dot-wrapper {
  cursor: default;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.carousel-dot {
  width: 8px;
  height: 8px;
  margin: 0 1px;
  display: inline-block;
  border-radius: 50%;
  background-color: #3b7489;
  transition: 0.3s;
  cursor: pointer !important;
}
.dot-active,
.carousel-dot:hover {
  background-color: white;
}
/* team page ***********************************************/
/* team page ***********************************************/
/* team page ***********************************************/
.team-page-wrapper {
  width: 100%;
  height: auto;
  position: relative;
}
.team-header-wrapper {
  top: 0;
  width: 100%;
  background-color: white;
  position: absolute;
}
.team-header {
  padding-bottom: 20px;
  align-items: center;
  grid-template-columns: 1fr 4fr;
  display: grid;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.team-header .content {
  margin-top: 5%;
  letter-spacing: 0.5px;
  line-height: 1.5;
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.team-header-tabs-wrapper {
  width: 100%;
  background-color: #1e6078;
}
.team-header-tabs {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 65%;
}
.team-header-tabs a {
  cursor: pointer;
  padding: 5px 20px 7px 20px;
  font-family: "Antonio", sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  color: #9bb9c6;
  transition: 0.3s;
}
.team-header-tabs a:hover,
.tabs-active {
  background-color: #9bb9c6;
  color: #1e6078 !important;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: #1e6078;
}
.team-schedule-wrapper {
  position: absolute;
  top: 40%;
  left: 22%;
  padding: 15px 40px 20px 40px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
}
.team-schedule h1 {
  color: #1e6078;
  margin-bottom: 15px;
}
.schedule-content1,
.schedule-content2 {
  display: none;
}
.content-active {
  display: block;
}
.team-schedule .grid {
  display: grid;
  grid-template-columns: 130px 130px;
  line-height: 1.5;
}

.content-active .grid a {
  color: #1e6078;
  text-decoration-color: #1e6078;
}
.content-active .grid a:hover {
  text-decoration: underline;
  text-underline-position: under;
}
/* footer ***********************************************/
/* footer ***********************************************/
/* footer ***********************************************/
.footer-wrapper {
  background-color: rgba(30, 96, 120, 1);
  position: relative;
}
.footer-wrapper .footer {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer img {
  border: none;
}
.footer .nav-logo .logo-name-1,
.footer .nav-logo .logo-name-2 {
  color: white;
}
.footer-rights {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-size: 14px;
}
.footer-overlay {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgba(30, 96, 120, 0.5);
}
.testing::after {
  content: url("carousel-1.jpg");
}
.footer-notes {
  margin: auto;
  padding: 10px;
}
.footer-notes p {
  justify-content: center;
  display: flex;
  align-items: center;
}
.footer-notes a {
  margin-left: 5px;
  white-space: nowrap;
}
.footer-notes img {
  width: 25px;
}
/* width 1050 *****************************************************/
/* width 1050 *****************************************************/
/* width 1050 *****************************************************/
@media screen and (max-width: 1050px) {
  .top-nav {
    width: 80%;
  }
  .team-header {
    width: 70%;
  }
  .team-header-tabs {
    width: 70%;
  }
  .team-schedule-wrapper {
    background-color: rgba(255, 255, 255, 0.7);
  }
  .footer-wrapper .footer {
    width: 80%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
/* width 800 *****************************************************/
/* width 800 *****************************************************/
/* width 800 *****************************************************/
@media screen and (max-width: 800px) {
  .carousel {
    width: 80%;
  }
  .team-header {
    width: 80%;
  }
  .team-header-tabs {
    width: 80%;
  }
  .footer-wrapper .footer {
    width: 80%;
  }
}
/* width 700 *****************************************************/
/* width 700 *****************************************************/
/* width 700 *****************************************************/
@media screen and (max-width: 700px) {
  .carousel {
    display: none;
  }
  .carousel-dot-wrapper {
    display: none;
  }
  .team-header {
    width: 80%;
  }
  .team-header-tabs {
    width: 80%;
  }
  .footer-wrapper .footer {
    width: 80%;
  }
  .carousel-pad {
    display: flex;
  }
  .carousel-dot-wrapper-pad {
    display: block;
  }
}
/* width 600 *****************************************************/
/* width 600 *****************************************************/
/* width 600 *****************************************************/
@media screen and (max-width: 600px) {
  .top-nav {
    width: 100%;
    padding: 20px;
  }
  .nav-link a {
    margin-left: 25px;
  }
  .history-content-wrapper {
    left: 10%;
  }
  .history-content-wrapper .content {
    width: 90%;
  }
  .team-header {
    width: 90%;
  }
  .team-header-tabs {
    width: 90%;
  }
  .team-schedule-wrapper {
    top: 45%;
    left: 18%;
    padding: 15px 20px 20px 20px;
  }
  .footer-wrapper .footer {
    width: 100%;
  }
}
/* width 450 *****************************************************/
/* width 450 *****************************************************/
/* width 450 *****************************************************/
@media screen and (max-width: 450px) {
  .team-schedule-wrapper {
    top: 60%;
    left: 15%;
    padding: 15px 20px 20px 20px;
  }
  .footer-wrapper .footer {
    width: 100%;
    grid-gap: 10px;
  }
}
