.container {
  font-family: "Roboto", sans-serif;
}
.landing-page-wrapper {
  width: 100%;
  height: auto;
}
img {
  width: 100%;
  height: auto;
  display: block;
}

/* top nav ***********************************************/
/* top nav ***********************************************/
/* top nav ***********************************************/
.nav-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}
.top-nav {
  width: 55;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 80px;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-logo img {
  width: 50px;
  height: auto;
  border: 1px solid gray;
  border-radius: 50%;
  display: block;
}
.logo-name {
  padding-left: 10px;
  line-height: 1;
}
.logo-name p {
  font-family: "Antonio", sans-serif;
  font-size: 27px;
}
.logo-name-1 {
  color: #e0e0e0;
  letter-spacing: 2px;
}
.logo-name-2 {
  color: #b2ceff;
  letter-spacing: 2.7px;
}

.nav-link {
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-color: white;
}
.nav-link a {
  font-style: italic;
  font-weight: 500;
  margin-left: 50px;
  color: white;
}
/* landing page ***********************************************/
/* landing page ***********************************************/
/* landing page ***********************************************/
.landing-page-wrapper .landing-page-img {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0.8;
}

/* history page ***********************************************/
/* history page ***********************************************/
/* history page ***********************************************/
.history-page-wrapper {
  position: relative;
}
.history-page-wrapper .history-page-img {
  width: 100%;
  height: auto;
  display: block;
}
.history-content-wrapper {
  position: absolute;
  top: 10%;
  left: 20%;
  margin-left: auto;
  margin-right: auto;
}
.header-wrapper {
  font-family: "Antonio", sans-serif;
  width: auto;
  display: flex;
}
.header-number {
  font-size: 170px;
  line-height: 1.1;
  color: rgba(85, 129, 150, 0.8);
}
.header-vertical {
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: 8px;
}
.header-text {
  color: #0d4a68;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 1px;
}
.header-dot {
  width: 20px;
  height: 20px;
  border-radius: 1px;
  background-color: rgba(85, 129, 150, 0.8);
}
.history-content-wrapper .content {
  letter-spacing: 0.5px;
  line-height: 1.5;
  width: 70%;
  padding-left: 75px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
/* carousel ***********************************************/
.carousel-wrapper {
  padding-top: 30px;
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  background-color: rgba(29, 95, 119, 0.5);
  width: 100%;
  align-items: center;
}
.carousel {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  grid-template-columns: repeat(4, minmax(min-content, 210px));
  grid-gap: 10px;
}
.carousel-content {
  width: 100%;
  height: auto;
}
.carousel-content img {
  object-fit: cover;
  max-height: 100%;
  width: 100%;
}
.carousel-dot-wrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.carousel-dot {
  width: 8px;
  height: 8px;
  margin: 0 1px;
  display: inline-block;
  border-radius: 50%;
  background-color: #3b7489;
  cursor: pointer;
}
.carousel-dot:nth-child(1) {
  background-color: white;
}
/* team page ***********************************************/
/* team page ***********************************************/
/* team page ***********************************************/
.team-page-wrapper {
  width: 100%;
  height: auto;
  position: relative;
}
.team-page-wrapper img {
  position: absolute;
}
.team-header-wrapper {
  top: 0;
  padding-bottom: 20px;
  width: 100%;
  background-color: white;
  position: absolute;
}
.team-header {
  align-items: center;
  grid-template-columns: 1fr 4fr;
  display: grid;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.team-header .content {
  margin-top: 5%;
  letter-spacing: 0.5px;
  line-height: 1.5;
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
